* {
  margin: 0;
}

body {
  background-color: rgb(224, 251, 252);
  font-family: 'JetBrains Mono', monospace, sans-serif;
}

h1 {
  color: rgb(238, 108, 77);
  font-size: 50px;
  background: rgb(41, 50, 65);
  text-align: center;
  /* font-stretch:extra-condensed; */
}

#about, #skills  {
  color: #293241e0;
}

#skills-list li:hover {
  color: #EE6C4D;
}
a {
  text-decoration: none;

}
div ul li a:hover {
  /* text-decoration: none; */
  color: #EE6C4D;
}

li a {
  color: #293241e0;
}

#face-photo {
  position: relative;
  padding: 10px 35px;
  /* left: 10px; */
  /* top: 10px; */
  background-color: #98C1D9;
}
[title] {
  border-radius: 7%;
}

#local {
  background-color: #ee6d4d9a;
  color: #3D5A80;
  text-align: center;
}

#about {
  position: absolute;
  top: 115px;
  left: 320px;
  right: 35px;
  max-width: 60%;
  /* overflow: auto; */
}

#nav-menu {
  position: absolute;
  top: 460px;
  left: 15px;
}
#nav-menu li {
  list-style: none;
}

#skills {
  position: absolute;
  top: 580px;
  padding: 10px;
  /* margin: 5px; */
}
#contact-info {
  position: absolute;
  top: 780px;
  padding: 10px;
}

#links {
  position: absolute;
  top: 930px;
  padding: 10px;
  /* text-decoration: #3D5A80; */
}

#skills-list {
  line-height: 0.9cm;
}

h2, h3, h4 {
  color: rgb(61, 90, 128);
}